

*{
    
    padding: 0;
    height: -1;
    margin:0px;
}

/* CSS Variables */

/* Navigation Bar */
#navbar{
    display : flex;
    align-items: center;
    position: relative;
}
/* navbar logo and Images */
#logo{
    margin: 4px, 3px;


}
#logo img{
    height: 60px;
    margin: 4px, 3px;

}

#navbar::before{
    content: "";
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}

#navbar ul{
    display: flex;
    /* position: fixed; */
}
#navbar ul li {
    font-size: 1.5rem;
    list-style: none;

}

#navbar ul li a{
    color: white;
    display: block;
    padding: 5px 35px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: blue;
    background-color: aquamarine;
    
}

/* box element 1 */
.container{
    display: flex;
    background-color: aquamarine;
    height: 250px;
    margin: auto;
}
.box{
    margin: 6px;
    border: 2px solid red;
    height: 240px;
    width: 340px;
    display: inline-block;
    text-align: center;
    background-color: white;
}
.box img{
    margin: auto;
    display: block;
    height: 211px;
    /* border-radius: 87px; */
}
.box h3{
    margin: auto;
    text-align: center;
}

.Attendance {
    margin: 6px;
    border: 2px solid red;
    width: 100%;
    height: 240px;
    background-color: white;
    text-align: center;
}


.Attendance img{
    margin: auto;
    display: block;
    height: 211px;
}
.container2{
    display: flex;
    background-color: aquamarine;
    margin: auto;
    
}

.Profile{
    margin: 6px;
    border: 2px solid red;
    height: 234px;
    width: 234px;
    display: inline-block;
    text-align: left;
    padding: 0px 5px 5px 20px;
    background-color: white;
    font-weight: bold;

}

.Timetable{
    display: flex;
    margin: 6px;
    border: 2px solid red;
    height: 240px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.clasz {
    display: inline-block;
    margin: 6px;
    border: 2px solid red;
    padding: 5px;
    width: 203px;
    background-color: #43e2ac47;
}

.Announcements{
    margin: 6px;
    border: 2px solid red;
    float: right;
    width: 100%;
    background-color: white;
    padding: 15px 20px 10px 40px;
}

.Teacher_on_leave{
    margin: 6px;
    border: 2px solid red;
    float: right;
    width: 30%;
    background-color: white;
    padding: 15px 20px 10px 40px;
}
